:root {
	--background: #fff;
	--text: #000;
	--link: #00f;
	--accent: #999;
	}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #333;
		--text: #ccc;
		--link: #ccf;
		--accent: #999;
	}
}

body {
	margin: 1rem auto;
	max-width: 120ex;
	background-color: var(--background);
	color: var(--text);
}

body > * {
	margin-left: 1rem;
	margin-right: 1rem;
}

a {
	color: var(--link);
}

header > h1 {
	margin-bottom: 0.3rem;
}

header > p {
	opacity: 0.5;
	margin-top: 0;
	margin-bottom: 1rem;
}

header, hr, main {
	border: 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: var(--text);
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
}

blockquote {
	border-left-width: 1ex;
	border-left-style: solid;
	border-left-color: var(--accent);
	opacity: 0.7;
	margin-left: 0;
	padding-left: 1rem;
}

.signatures {
	overflow: auto;
}
